<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>

</head>
<body>

<div id="root">
    <!--    <div v-on:click="handleClick">{{content}}</div>-->

    <div @click="handleClick">{{content}}</div>
    <div v-html="content"></div>

    <h5>条件与循环</h5>

    <div v-if="see">现在可以看到我了</div>

    <div v-show="ifShow">现在可以看到我了Show</div>



</div>


<h1>循环v-for</h1>
<div id="app-4">
    <ul>
        <li v-for="item in todos">
            {{item.text}}
        </li>
    </ul>



</div>

<h1>处理用户输入：v-on:click简写@click</h1>
<div id="app5">
    <p>{{content}}</p>
    <input type="button" v-on:click="reverseStr" value="v-on:click - 翻转字符串" />
    <input type="button" @click="reverseStr" value="@click - 翻转字符串" />
</div>

<h1>处理用户输入-双向绑定：v-model</h1>
<div id="app6">
    <p>{{content}}</p>
    <input v-model="content" />
</div>

<div>

</div>

<script>

    var app1 = new Vue({
        el: "#root",
        data: {
            content: "<h1>hello world!</h1>",
            num1: 1,
            num2: 2,
            see: false,
            ifShow: false
        },
        methods: {
            handleClick: function () {
                this.content = "2222";
            }
        },
        computed: {}
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ],
            content: "hello world!"
        },
        methods: {
            reverseStr:function () {
                this.content = this.content.split('').reverse().join('');
            }
        }
    });

    var app5 = new Vue({
        el: "#app5",
        data: {
            content: "hello world!"
        },
        methods: {
            reverseStr: function () {
                this.content = this.content.split('').reverse().join('');
            }
        }
    });

    var app6 = new Vue({
        el: "#app6",
        data: {
            content: "hello world!"
        }
    });



</script>
</body>
</html>